<%= link_to "Return to Discover Page", "/dashboard/discover" %>

<ol>

<%if @results %>
  <%@results.each do |movie|%>
    <li>
    <div class ="movie">
      <div class ="name">
      <%= link_to "#{movie.name}", "/movies/#{movie.movie_id}"  %> 
        </div> 
      <div class ="vote_average">
        <%=movie.vote_average%> </p>
       </div>
    </div>
    </li>
  <%end%>
<%end%>
</ol>