---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1?api_key=<MoviesDB_API_KEY>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - 557a1378e00e81855a717a9d794ef206
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '25222'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Wed, 05 Apr 2023 02:16:56 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1/credits?api_key=<MoviesDB_API_KEY>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - b8f0e26c9e7f292a8b0217ced90fad49
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '22761'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Wed, 05 Apr 2023 02:16:57 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1/reviews?api_key=<MoviesDB_API_KEY>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - 0b14c9ff606c10155ccf26a4eeeb21c1
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '25624'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Wed, 05 Apr 2023 02:16:57 GMT
recorded_with: VCR 6.1.0
